/*
  Name: Mu'aaz Khan
  Date: 08.31.2026
  CSC 372-01

  This is the style.css file for Assignment 1. It contains all required styles for the website.
*/

h1 {
    font-weight: bold;
    font-size: 22pt;
}

h2 {
    font-weight: normal;
    font-size: 18pt;
}

h1, h2 {
    text-decoration: underline;
    color: #A4A400;
}

body {
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, Serif;
}

blockquote {
  background-color: #FFFFA8;
  font-style: italic;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
}

#main-image {
    width: 300px;
    height: 200px;
}

ul {
  list-style-image: url('images/star.png');
}